

<h1>Welcome to Bike Berlin</h1>
<h2>Your source for used bikes in Berlin</h2>
<p>Welcome! The date and time is <%= Time.now %></p>
<div class="container binfo">
<%= image_tag("lb.jpg", class: "img-responsive my-image") %>
Vehicles for human transport that have two wheels and require balancing by the rider date back to the early 19th century. The first means of transport making use of two wheels arranged consecutively, and thus the archetype of the bicycle, was the German draisine dating back to 1817. The term bicycle was coined in France in the 1860s.
</div>

