/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */


nav {
	background-color: #3498d8;
	background-size: 100%;
	font-size: 2em;
	letter-spacing: 2px;

}
/*
.navbar ul li {
	display: inline-block;
	float: center;
}*/

nav ul {
    margin: 0;
    padding: 0;
    text-align: center;
}
nav li {
    display: inline;
    list-style: none; 
}

body { 
background-color: #ecfof1;
color: #2c3e50;
font-family: 'Cabin Sketch', cursive;
}

footer {
	background-color: #3498d8;
	text-align: center;
	font-weight: 550;
}

.my-image {
margin: 0 auto;
}

h1, h2 {
	font-family: 'Lobster', cursive;
}
.binfo {
padding: 1em;


}
