/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@font-face{
	font-family: 'Softplain';
	src: url('Softplain.ttf');
}

nav {
	background-color: #3498d8;
	background-size: 100%;
	font-size: 2em;
	letter-spacing: 2px;

}
/*
.navbar ul li {
	display: inline-block;
	float: center;
}*/

nav ul {
    margin: 0;
    padding: 0;
    text-align: center;
}
nav li {
    display: inline;
    list-style: none; 
}

body { 
background-color: #ecfof1;
color: #2c3e50;
font-family: 'Cabin Sketch', cursive;
}

footer {
	background-color: #3498d8;
	text-align: center;
	font-weight: 550;
}

.my-image {
margin: 0 auto;
}
/*Lets Maybe put Softplain here???*/
h1, h2 {
	font-family: 'Lobster', cursive;
	
	
}
.binfo {
padding: 1em;
}

#bike {
	background-color: #179EE0;
	border-radius: 2px;
	padding-top: 1em;
	margin: 1em;
	border: #E08F2B 3px solid;
	text-align: center;
}
 #bike img {
 	width: 250px;
 	height: 220px;
 	margin: 0 auto;
 	border: #BDA900 1px solid;
 }

 
.showeditdestroy li {
	display: inline;
	background-color: #BDA900;
	padding: 2px;
	border-radius: 7px;
	border: 1px solid #0F6894;
}


